</div>
<footer class="footer">
    <div class="block_inner">
        <div class="footer_top">
            <div class="left">
                <div class="logo"><img src="files/footer_logo.svg" alt=""></div>
                <div class="text"><img src="files/footer_desc.svg" alt=""></div>
            </div>
            <div class="right">
                <a href="tel: +7 913 750 08 08" class="phone">+7 913 750 08 08</a>
                <div class="address">Новосибирск, ​БЦ Триумф​, Якушева, 16а​, 1 этаж</div>
                <div class="block_wr">
                    <ul class="footer_menu">
                        <li><a href="#">История компании</a></li>
                        <li><a href="#">Как мы работаем</a></li>
                        <li><a href="#">Меню</a></li>
                        <li><a href="#">Калькулятор цен</a></li>
                        <li><a href="#">Галерея мероприятий</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Наши клиенты</a></li>
                    </ul>
                    <div class="download_menu">
                        <a href="#"><span class="btn_bottom"></span><span>Скачать <Br>меню</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="site-copyright">© 2024 VKUSNOFF CATERING</div>
            <div class="social_block">
                <a href="#"><img src="files/whatsapp.svg" alt=""></a>
                <a href="#"><img src="files/tg.svg" alt=""></a>
                <a href="#"><img src="files/mail.svg" alt=""></a>
            </div>
            <div class="copyright">Разработка сайта: Контора Громова</div>
        </div>
    </div>
</footer>
</div>
<div class="orderForm_wrap modal_form" id="orderForm">
    <div class="form_inner">
        <form action="">
            <div class="form_name">закажите просчет мероприятия</div>
            <div class="field">
                <div class="field_name"><span>Ф.И.О</span></div>
                <input type="text">
            </div>
            <div class="field">
                <div class="field_name"><span>Телефон</span></div>
                <input type="text">
            </div>
            <input type="submit" value="Заказать" class="btn_button">
            <div class="text">Нажимая кнопку «Отправить» вы соглашаетесь с условиями пользовательского соглашения</div>
        </form>
        <div class="thank_block">Ваша заявка принята</div>
        <!-- после успежной отправки нужно form_inner задать класс send-success -->
    </div>
</div>
<div class="callForm_wrap modal_form" id="callForm">
    <div class="form_inner">
        <div class="form_column">
            <div class="form_left">
                <div class="form_main_wrap">
                    <form action="">
                        <div class="form_name">Какой-то примерный заголовок</div>
                        <div class="field">
                            <div class="field_name"><span>Ф.И.О</span></div>
                            <input type="text">
                        </div>
                        <div class="field">
                            <div class="field_name"><span>Телефон</span></div>
                            <input type="text">
                        </div>
                        <input type="submit" value="Заказать" class="btn_button">
                        <div class="text">Нажимая кнопку «Отправить» вы соглашаетесь с условиями пользовательского соглашения</div>
                    </form>
                </div>
            </div>
            <div class="form_image">
                <img src="files/form_image.jpg" alt="">
            </div>
        </div>
        <div class="thank_block">Ваша заявка принята</div>
        <!-- после успежной отправки нужно form_inner задать класс send-success -->
    </div>
</div>
<div class="discountModal_wrap modal_form" id="discountModal">
    <div class="discount_inner">
        <div class="left">
            <div class="title">получите скидку 10% на первый заказ!</div>
            <div class="text">Пройдите опрос по вашему мероприятию</div>
            <a href="#" class="btn_button wh">Получить скидку</a>
        </div>
        <div class="image">
            <img src="files/disc.png" alt="">
        </div>
    </div>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/wow.js"></script>
<script src="js/main.js"></script>
</body>

</html>