<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="icon" href="files/favicon.svg" sizes="32x32">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/ukiyojs@4.1.2/dist/ukiyo.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</head>

<body>
    <div class="menu_burger">
        <div class="burger_top">
            <div class="menuClose">Закрыть</div>
            <div class="header_right">
                <div class="phone_header">
                    <span></span>
                    <a href="tel:+7 913 750 08 08">+7 913 750 08 08</a>
                </div>
                <a href="#callForm" data-fancybox class="btn_call"><i></i><span>Заказать звонок</span></a>
            </div>
        </div>
        <div class="menu_scroll">
            <div class="burger_left">
                <ul>
                    <li><a href="">История компании</a></li>
                    <li><a href="">Как мы работаем</a></li>
                    <li><a href="">Меню</a></li>
                    <li><a href="">Калькулятор цен</a></li>
                    <li><a href="">Галерея мероприятий</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Наши клиенты</a></li>
                </ul>
                <div class="download_menu">
                    <a href="#"><span class="btn_bottom"></span><span>Скачать <Br>меню</span></a>
                </div>
            </div>
            <div class="burger_right">
                <div class="inner">
                    <div class="image">
                        <img src="files/b_image1.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="files/b_image2.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="files/b_image3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site_wrapper">
        <header class="header">
            <div class="block_inner">
                <div class="burger"><span>меню</span></div>
                <div class="header_right">
                    <div class="phone_header">
                        <span></span>
                        <a href="tel:+7 913 750 08 08">+7 913 750 08 08</a>
                    </div>
                    <a href="#callForm" data-fancybox class="btn_call"><i></i><span>Заказать звонок</span></a>
                </div>
            </div>
        </header>
        <div class="content_block_wr">