include _header.jade
<div class="top_block_wr">
    <div class="block_inner">
        <div class="logo">
            <img src="files/logo.svg" alt="">
        </div>
        <div class="inner">
            <a href="#keytering" class="anchor_link btn_bottom"><i></i></a>
            <div class="left">
                <img class="ukiyo" src="files/top_image.jpg" alt="">
            </div>
            <div class="right">
                <a data-fancybox href="#orderForm" class="btn_button anim green"><span>Заказать просчёт мероприятия</span><i></i></a>
                <div class="text wow fadeInUp">
                    <div class="body">
                        <svg width="74" height="48" viewBox="0 0 74 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M51.6986 48L38.0137 33.7021L71.4657 0L74 2.55319L54.7397 22.4681L65.8904 33.7021L51.6986 48ZM14.1918 48L0 33.7021L33.452 0L35.9863 2.55319L16.726 22.4681L28.3836 33.7021L14.1918 48Z" fill="#FF6624" />
                        </svg>
                        <span>накормит всех</span> без лишних слов
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="keytering" class="keytering_block_wr">
    <ul id="scene_keytering" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
        <li class="layer" data-depth="0.00"></li>
        <li class="layer" data-depth="0.35">
            <div class="icon1"></div>
        </li>
    </ul>
    <div class="block_inner">
        <div class="title">
            <div class="name wow fadeInUp">Кейтеринг</div>
            <div class="title_name wow fadeInUp">С многолетними <span>традициями...</span></div>
        </div>
        <div class="right">
            <div class="image">
                <img class="ukiyo" src="files/kat.jpg" alt="">
            </div>
            <div class="text wow fadeInUp">Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</div>
        </div>
        <div class="left">
            <ul id="scene_form" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
                <li class="layer" data-depth="0.00"></li>
                <li class="layer" data-depth="0.15">
                    <div class="icon1"></div>
                </li>
            </ul>
            <div class="form_inner">
                <form action="">
                    <div class="form_name wow fadeInUp">закажите просчет мероприятия</div>
                    <div class="field wow fadeInUp">
                        <div class="field_name"><span>Ф.И.О</span></div>
                        <input type="text">
                    </div>
                    <div class="field wow fadeInUp">
                        <div class="field_name"><span>Телефон</span></div>
                        <input type="text">
                    </div>
                    <input type="submit" value="Заказать" class="btn_button wh wow fadeInUp">
                    <div class="text wow fadeInUp">Нажимая кнопку «Отправить» вы соглашаетесь с условиями пользовательского соглашения</div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="slider_zn_block">
    <div class="block_inner">
        <div class="left">
            <div class="left_inner">
                <div class="title wow fadeInUp">С нами</div>
                <div class="name wow fadeInUp">Легко <span>и быстро</span></div>
                <div class="image_slider">
                    <div class="swiper mySwiper_images" data-id="mySwiper_images" data-arrow="images">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="ukiyo" src="files/zn1.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="ukiyo" src="files/zn2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img class="ukiyo" src="files/zn3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="text_slider">
                <ul id="scene_slider" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
                    <li class="layer" data-depth="0.00"></li>
                    <li class="layer" data-depth="0.15">
                        <div class="icon1"></div>
                    </li>
                    <li class="layer" data-depth="0.45">
                        <div class="icon2"></div>
                    </li>
                </ul>
                <div class="text_label">Этапы работ</div>
                <div class="swiper_arrow">
                    <div class="swiper_arrow_btn swiper-text-prev"></div>
                    <div class="swiper_arrow_btn swiper-text-next"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper mySwiper_text" data-id="mySwiper_text" data-arrow="text">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="name">Знакомство</div>
                            <div class="body">
                                <p>Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                                <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="name">Знакомство</div>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ad rerum, eos ipsam dolor obcaecati blanditiis praesentium minima asperiores suscipit possimus vero, beatae sint illo, quo, ea quasi hic laboriosam!</p>
                                <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                                <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="name">Знакомство</div>
                            <div class="body">
                                <p>Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                                <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preim_block_wr">
    <div class="block_inner">
        <div class="title wow fadeInUp">Преимущества</div>
        <div class="inner">
            <div class="item">
                <div class="icon">
                    <img src="files/icon_p1.png" class="norm" alt="">
                    <img src="files/icon_p1-h.png" class="hov" alt="">
                </div>
                <div class="text">Бесплатный тест-ланч </div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="files/icon_p2.svg" class="norm" alt="">
                    <img src="files/icon_p2-h.svg" class="hov" alt="">
                </div>
                <div class="text">Welcome зона в подарок</div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="files/icon_p3.svg" class="norm" alt="">
                    <img src="files/icon_p3-h.svg" class="hov" alt="">
                </div>
                <div class="text">Предоставляем свой текстиль и посуду </div>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="files/icon_p4.svg" class="norm" alt="">
                    <img src="files/icon_p4-h.svg" class="hov" alt="">
                </div>
                <div class="text">Собственные локации для мероприятий</div>
            </div>
        </div>
    </div>
</div>
<div class="menu_block_big">
    <ul id="scene_tr" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
        <li class="layer" data-depth="0.00"></li>
        <li class="layer" data-depth="0.15">
            <div class="icon1"></div>
        </li>
        <li class="layer" data-depth="0.45">
            <div class="icon2"></div>
        </li>
        <li class="layer" data-depth="0.1">
            <div class="image"><img src="files/tr.png" alt=""></div>
        </li>
    </ul>
    <div class="block_inner">
        <div class="left">
            <div class="title wow fadeInUp">
                <span>Придётся вам по вкусу</span>
            </div>
            <div class="name wow fadeInUp">Меню</div>
            <div class="text wow fadeInUp">Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</div>
            <a href="#" class="btn_button anim green wow fadeInUp"><span>Скачать меню</span><i></i></a>
        </div>
        <div class="mobile_image">
            <img src="files/tar.png" alt="">
        </div>
    </div>
</div>
<div class="menu_form_wrapper">
    <div class="menu_block">
        <div class="block_inner">
            <div class="header_block wow fadeInUp">Варианты меню</div>
            <div class="description wow fadeInUp">На одну персону</div>
            <div class="items-wrap">
                <div class="item wow fadeInUp">
                    <div class="left_block">лёгкий сет</div>
                    <div class="right_block">
                        <div class="title">3 вида<br>холодных закусок</div>
                        <div class="title">1 салат</div>
                        <div class="title">1 горячее блюдо</div>
                        <div class="title">1 десерт</div>
                    </div>
                </div>
                <div class="item wow fadeInUp">
                    <div class="left_block">средний сет</div>
                    <div class="right_block">
                        <div class="title">5 видов<br>холодных закусок</div>
                        <div class="title">2 салата</div>
                        <div class="title">1 горячее блюдо</div>
                        <div class="title">2 десерта на выбор</div>
                    </div>
                </div>
                <div class="item wow fadeInUp">
                    <div class="left_block">Большой сет</div>
                    <div class="right_block">
                        <div class="title">1 вид<br>холодных закусок</div>
                        <div class="title">4 салата</div>
                        <div class="title">2 горячих блюда</div>
                        <div class="title">3 десерта</div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="scene4" class="scene4 unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
            <li class="layer" data-depth="0.00"></li>
            <li class="layer" data-depth="0.15">
                <div class="light-first"></div>
            </li>
            <li class="layer" data-depth="0.15">
                <div class="light-second"></div>
            </li>
        </ul>
    </div>
    <div class="form_block">
        <div class="block_inner wow fadeInUp">
            <div class="header_block">Расчет стоимости мероприятия</div>
            <form action="">
                <div class="field">
                    <div class="field_name">
                        <span>Место проведения</span>
                    </div>
                    <input type="text">
                </div>
                <div class="field">
                    <div class="field_name">
                        <span>Ф.И.О</span>
                    </div>
                    <input type="text">
                </div>
                <div class="two_field">
                    <div class="field">
                        <div class="field_name">
                            <span>Количество гостей</span>
                        </div>
                        <input type="text">
                    </div>
                    <div class="field">
                        <div class="field_name">
                            <span>дата мероприятия</span>
                        </div>
                        <input type="text">
                    </div>
                </div>
                <div class="field">
                    <div class="field_name">
                        <span>Телефон</span>
                    </div>
                    <input type="text">
                </div>
                <div class="field">
                    <div class="field_name">
                        <span>Выберите сет</span>
                    </div>
                    <input type="text">
                </div>
                <div class="field submit">
                    <input type="submit" value="Заказать" class="btn_button wh">
                </div>
                <div class="field agree">
                    <a href="#">Нажимая кнопку «Отправить» вы соглашаетесь с условиями пользовательского соглашения</a>
                </div>
                <div class="field price"><span class="small">от</span> 170 000 <span class="currency">руб.</span></div>
            </form>
        </div>
        <ul id="scene3" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
            <li class="layer" data-depth="0.00"></li>
            <li class="layer" data-depth="0.15">
                <div class="light-first"></div>
            </li>
        </ul>
    </div>
</div>
<div class="gallery_block">
    <div class="header_block wow fadeInUp">Галерея</div>
    <div class="description wow fadeInUp">Мероприятий</div>
    <ul id="scene5" class="scene5 unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
        <li class="layer" data-depth="0.00"></li>
        <li class="layer" data-depth="0.15">
            <div class="light-first"></div>
        </li>
    </ul>
    <div class="gallery_block_inner">
        <div class="gallery_text_slider">
            <div class="gallery_text_slider_inner">
                <div class="swiper mySwiper_gallery_text" data-id="mySwiper_gallery_text" data-arrow="gallery_text">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="name">Название <br> мероприятия</div>
                            <div class="date">23.01.2024</div>
                            <div class="name-sec">Название заведения</div>
                            <div class="body">
                                <p>Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                                <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="name">Название <br> 2</div>
                            <div class="date">23.01.2024</div>
                            <div class="name-sec">Название заведения</div>
                            <div class="body">
                                <p>Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                                <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="name">Знакомство</div>
                            <div class="date">23.01.2024</div>
                            <div class="name-sec">Название заведения</div>
                            <div class="body">
                                <p>Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                                <p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns_wrap">
                <div class="swiper_arrow_btn swiper-gallery-text-prev"></div>
                <div class="swiper_arrow_btn swiper-gallery-text-next"></div>
            </div>
        </div>
        <div class="gallery_slider">
            <div class="gallery_slider_inner">
                <div class="swiper mySwiper_gallery" data-id="mySwiper_gallery" data-arrow="gallery">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="ukiyo" src="files/gallery_slider.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="ukiyo" src="files/gallery_slider.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="ukiyo" src="files/gallery_slider.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="btns_wrap">
                    <div class="swiper-gallery-pagination"></div>
                    <div class="swiper_arrow_btn swiper-gallery-prev"></div>
                    <div class="swiper_arrow_btn swiper-gallery-next"></div>
                </div>
            </div>
        </div>
        <div class="gallery_duplicate_slider">
            <div class="gallery_duplicate_slider_inner">
                <div class="swiper mySwiper_gallery_duplicate" data-id="mySwiper_gallery_duplicate" data-arrow="gallery_duplicate">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="ukiyo" src="files/slide-2.jpeg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="ukiyo" src="files/gallery_slider.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="ukiyo" src="files/gallery_slider.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper_arrow">
            <div class="swiper_arrow_btn swiper-gallery-text-prev"></div>
            <div class="swiper_arrow_btn swiper-gallery-text-next"></div>
        </div>
    </div>
</div>
<div class="recomended_block">
    <div class="block_inner">
        <div class="header_block">
            <div class="title wow fadeInUp">Нас рекомендуют</div>
            <a href="#" class="more">Все отзывы</a>
        </div>
        <div class="items-wrap swiper recomendSlider" data-id="recomendSlider">
            <div class="swiper-wrapper">
                <div class="item swiper-slide">
                    <div class="top_block">
                        <div class="left_block">
                            <div class="date">19 января 2024</div>
                            <div class="author">Александра Петрова</div>
                        </div>
                        <div class="right_block">
                            <div class="stars"></div>
                        </div>
                    </div>
                    <div class="body">Добрый день! Было мероприятие 27.07 кейтеринг вкуснофф прекрасно справился со своей задачей, все было очень вкусно, накрыто красиво, хотела бы выразить свою благодарность официантам, так как всегда были рядом и отзывались на все наши вопросы, так же менеджеру Дарье, так как мероприятие было запланировано в самый последний момент, Дарья прекрасно справилась со своей задачей, сделать быстро. Спасибо всем!!!</div>
                    <div class="item_more">
                        <a href="#">Читать весь отзыв</a>
                    </div>
                </div>
                <div class="item swiper-slide">
                    <div class="top_block">
                        <div class="left_block">
                            <div class="date">12 сентября 2023</div>
                            <div class="author">Алёна Кулагина</div>
                        </div>
                        <div class="right_block">
                            <div class="stars"></div>
                        </div>
                    </div>
                    <div class="body">Добрый день! Было мероприятие 27.07 кейтеринг вкуснофф прекрасно справился со своей задачей, все было очень вкусно, накрыто красиво, хотела бы выразить свою благодарность официантам, так как всегда были рядом и отзывались на все наши вопросы, так же менеджеру Дарье, так как мероприятие было запланировано в самый последний момент, Дарья прекрасно справилась со своей задачей, сделать быстро. Спасибо всем!!!</div>
                    <div class="item_more">
                        <a href="#">Читать весь отзыв</a>
                    </div>
                </div>
                <div class="item swiper-slide">
                    <div class="top_block">
                        <div class="left_block">
                            <div class="date">19 января 2024</div>
                            <div class="author">Александра Петрова</div>
                        </div>
                        <div class="right_block">
                            <div class="stars"></div>
                        </div>
                    </div>
                    <div class="body">Добрый день! Было мероприятие 27.07 кейтеринг вкуснофф прекрасно справился со своей задачей, все было очень вкусно, накрыто красиво, хотела бы выразить свою благодарность официантам, так как всегда были рядом и отзывались на все наши вопросы, так же менеджеру Дарье, так как мероприятие было запланировано в самый последний момент, Дарья прекрасно справилась со своей задачей, сделать быстро. Спасибо всем!!!</div>
                    <div class="item_more">
                        <a href="#">Читать весь отзыв</a>
                    </div>
                </div>
                <div class="item swiper-slide">
                    <div class="top_block">
                        <div class="left_block">
                            <div class="date">12 сентября 2023</div>
                            <div class="author">Алёна Кулагина</div>
                        </div>
                        <div class="right_block">
                            <div class="stars"></div>
                        </div>
                    </div>
                    <div class="body">Добрый день! Было мероприятие 27.07 кейтеринг вкуснофф прекрасно справился со своей задачей, все было очень вкусно, накрыто красиво, хотела бы выразить свою благодарность официантам, так как всегда были рядом и отзывались на все наши вопросы, так же менеджеру Дарье, так как мероприятие было запланировано в самый последний момент, Дарья прекрасно справилась со своей задачей, сделать быстро. Спасибо всем!!!</div>
                    <div class="item_more">
                        <a href="#">Читать весь отзыв</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns_wrap">
            <div class="more"><a href="#">Все отзывы</a></div>
            <div class="swiper_arrow_btn swiper-activity-prev"></div>
            <div class="swiper_arrow_btn swiper-activity-next"></div>
        </div>
    </div>
</div>
<div class="trust_block">
    <div class="block_inner">
        <div class="title wow fadeInUp">Нам доверяют</div>
        <div class="swiper trustSlider" data-id="trustSlider">
            <div class="swiper-wrapper">
                <div class="item swiper-slide">
                    <img src="files/trust1.svg" alt="">
                </div>
                <div class="item swiper-slide">
                    <img src="files/trust2.svg" alt="">
                </div>
                <div class="item swiper-slide">
                    <img src="files/trust3.svg" alt="">
                </div>
                <div class="item swiper-slide">
                    <img src="files/trust4.svg" alt="">
                </div>
                <div class="item swiper-slide">
                    <img src="files/trust5.svg" alt="">
                </div>
                <div class="item swiper-slide">
                    <img src="files/trust6.svg" alt="">
                </div>
                <div class="item swiper-slide">
                    <img src="files/trust7.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade